h1,h2,p {
  text-align: center;
}

#caption{
  text-align: center;
  font-size: 0.9em;
  margin: 1em;
  margin-bottom: 3em;
  font-weight: bold;
}

p{
  font-size: 1em;
  margin: 10vh;
}

.keyword {
  font-weight: bold;
}

.gallery{
  text-align: center;
  padding: 2vh;
}

img{
  transition: .3s ease;
}

img:hover {
  opacity: 0.5;
}