@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  background: rgb(36,37,39);
  background: linear-gradient(180deg, rgba(36,37,39,1) 0%, rgba(188,15,15,1) 100%);
  margin: 0;
}

main {
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  background-color: white;
}

.header{
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  font-weight: 550;
  padding: 0.7em;
  background: url("/images/hq.png");
  background-position: center;
  background-size: 100%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0;

}

h1,h2,p {
  text-align: center;
}

#red {
  color: #ff4141;
}

figcaption{
  text-align: center;
  font-size: 0.9em;
  margin: 1em;
  margin-bottom: 3em;
  font-weight: bold;
}

p{
  font-size: 1em;
  margin: 10vh;
}

.keyword {
  font-weight: bold;
}

.gallery{
  text-align: center;
  padding: 2vh;
}

img{
  transition: .3s ease;
}

img:hover {
  opacity: 0.5;
}

.bracer:hover {
    opacity: 1;
}

.bracer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:0 auto;
  transition: transform .7s ease-in-out;
}

.bracer:hover{
  transform: rotate(360deg);
}

text{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

/* Nav Bar*/
nav {
  background-color: #242527;
  color: white;
  font-size: 1em;
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menus, .menu-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-heading, .menu-item > a {
  padding: 5px 10px;
}

.menu-heading {
  border-right: 1px solid lightgray;
}

.menu-item {
  border-top: 1px solid lightgray;
  font-size: 1em;
}

.menu {
  position: relative;
}

.menu-items {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #242527;
}

.menu:hover > .menu-items {
  display: block;
}

.menu-item:hover, .menu:hover > .menu-heading {
  background-color: rgb(80, 80, 80);
}

.menu-item > a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu-heading > a {
  text-decoration: none;
  color: white;
  display: block;
}

@media (max-width: 800px) {
  main {
    width: 100%;
    font-size: 0.6em;
  }
  p {
    margin: 2vh;
  }
  nav {
    font-size: 1.5em;
  }
  .menu-item {
    font-size: 1em;
  }
}

@media (max-device-width: 800px) {
  main {
    width: 100%;
    font-size: 0.6em;
  }
  p {
    margin: 2vh;
  }
  nav {
    font-size: 1.5em;
  }
  .menu-item {
    font-size: 1em;
  }
}