body {
  background: linear-gradient(180deg, rgba(36,37,39,1) 0%, rgba(188,15,15,1) 100%);
}

h1,h2,p {
  text-align: center;
}

figcaption{
  text-align: center;
  font-size: 0.9em;
  margin: 1em;
  margin-bottom: 3em;
  font-weight: bold;
}

p{
  font-size: 1em;
  margin: 10vh;
}

.keyword {
  font-weight: bold;
}

.gallery{
  text-align: center;
  padding: 2vh;
}

img{
  transition: .3s ease;
}

img:hover {
  opacity: 0.5;
}